button{
  background-color: #5b2e9f;
  font-size: 18px;
  border-radius: 4px;
  color: white;
  border: none;
  padding: 15px 32px;
  margin-top: auto;
 }

.cart {
    max-width: 30rem;
    background-color: #313131;
    color: white;
  }
  
  .cart h2 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
  }
  
  .cart ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .right{
    margin-left: 75%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }



 .right button{
    background-color: #5b2e9f;
    font-size: 16px;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 15px 32px;
    margin-top: auto;
   }