.button {
    background-color: transparent;
    /* border-color: #1ad1b9;
    color: #1ad1b9; */
  }
  
  .button:hover,
  .button:active {
    color: rgb(132, 18, 231);
  }
 
  
  .badge {
    background-color: #f9170b;
    border-radius: 30px;
    padding: 0.15rem 0.5rem;
    color: #faf8f8;
  }