* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #e7f8f822;
  

}

.portrait {
  overflow: hidden;
  display: inline-block;
}

.portrait img {
  transition: transform 0.5s linear;
  height: 25%;
}

.portrait:hover img {
  transform: scale(1.1);
}

/* .img {
  
  overflow: hidden;
  transition: transform 0.5s linear;
  }

@media (min-width: 992px)
{img:hover {
   transform: scale(1.06);}} */

   .input_space{
    margin-bottom: 10px;
}

   input{
    height: 30px;
    width: 20%;
    font-size: 18px;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: teal;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid teal;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #11acac;
  border-color: #11acac;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: teal;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: teal;
  color: white;
}

.carousel-item{
  height: 450px;
} 
.carousel-item img{
  height: 450px;
}